body {
    background-color: #ffffff;
    font-family: Helvetica;
    font-size: 14px;
}

h1 {
    font-weight: bold;
    font-size: 30px;
}

#quiz {
    background-color: #c1e1f0;
    width: 600px;
    padding: 10px;
    border-radius: 24px;
}

#mc {
    font-size: 12px;
}

.questions {
    font-weight: bold;
    font-size: 16px;
}

#button{
    margin-left: 40px;
    border-radius: 8px;
    border: none;
    padding: 5px 10px 5px 10px;

}